.nav-bar{
	border: 1px solid #eee;
    height: 50px;
    position: relative;
    top: -33px;
    box-shadow: 2px 4px 5px #eee;
}
.blogs-t{
	border: 1px dotted #eee;
	box-shadow: 2px 3px 5px #ccc;
	border-radius: 18px;
	margin-left: -5%;
	margin-bottom: 3%;
}
.para-content{
	text-align: justify;
	padding-left:7%;
	padding-right: 7%;
}
.icon-up{
	padding-top: 10%;
}
.upbutton{
	background: transparent;
	border: none;
	position: relative;
	padding-top:9%;
}
.header-div{
	position: fixed;
}
.upvotes {
    font-size: 0.8em;
    position: absolute;
    padding-top: 4%;
}
.hr-tag{
	border-top:dotted 1px;
	position: relative;
	top:15px;
}
.link-nav{
	position:absolute;
	margin: 5%;
	color: #333;
	text-decoration: none;
	margin-top: 1%;
}