.img-left{
	position: relative;
	margin-top: 0%;
}
.img-right{
	position: absolute;
	margin-top: -36%;
	margin-left: -16%;
}
.myContainer{
	margin-top: 10%;
}
.my-row{
	position: relative;
}
.form-login{
	position: relative;
	margin-left: 16%;
	margin-top: -10%
}
.mylogin{
	padding: 13%;
    background: #fff;
    border-radius: 11%;
    width: 60%;
    height: 310px;
    box-shadow: 2px 2px 16px #aaa;
}
.form-head{
	font-weight: 400;
	font-size: 1.32em;
	color:#031f68;
}
.box{
    position: absolute;
    height: 105%;
    width: 340px;
    top: -50px;
    left: 40px;
    background: white;
    box-shadow: 0px 0px 25px grey;
    z-index: 4;
    padding: 15px;
    transition: all .5s linear;
    overflow: hidden;
}   


.content{
    overflow: hidden;
    margin-top: 20px;
}
input{
    width: 100%;
    padding: 0px 25px;
    margin-bottom: 28px;
    font-family: 'open sans', sans-serif;
    font-size: 16px;
    border: none;
    color: grey;
    border-bottom: 1px solid grey;
    background: white;
}
input:focus{
    outline: none;
}
.button{
    height: 35px;
    overflow: hidden;
    font-family: 'open sans', sans-serif;
    width: 85%;
    margin-left:8%;
    border-radius: 6px;
    color: white;
    background: aqua;
    cursor: pointer;
}
.signup, .login{
    padding:10px;
    text-align: center;
}
#login:hover{
    color: white;
    background: blue;
}
#signup{
    position: absolute;
    bottom: 10%;
    left: 50%;
    cursor: pointer;
    transform: translate(-50%,-50%);
    font-family: 'open sans',sans-serif;
    border: 1px solid blue;
    padding: 15px 45px;
    color: blue;
    transition: all .5s ease-in-out;
}
#signup:hover{
    color: white;
    background: blue;
}
.l-1,.l-2{
    transition: all .5s linear;
}
.login,.signup{
    transition: all .5s linear;
}
.icon-style{
	position: absolute;
	left: 13%;
	color:#b68bf7;
	font-size: 0.8em;
	margin-top: 2%;
}
.input-box{
	display: flex;
}
.combine{
	display: flex;
	margin-left: -10%;
}
.para-remember{
	font-size: 0.6em;
    margin-top: 3%;
}
.para-forget{
	font-size: 9px;
    margin-left: -7%;
    margin-top: 5%;
}
.or-para{
	color:black;
	position: absolute;
	padding-left: 21%;
}
.nav-link{
	position: absolute;
	padding-top: 15%;
	padding-left: 16%;
}