.regis-img{
	position:fixed;
}
.signup-div{
	border: 1px solid #eee;
	position: relative;
	margin-top: 5%;
}
.mySingup{
	position: relative;
	/*margin-left:-5%;*/
	padding: 3% 13% 13% 13%;
    background: #fff;
    border-radius: 4%;
    width: 90%;
    height: 660px;
    box-shadow: 2px 2px 16px #aaa;
}
.head-sign{
	font-weight: 600;
	font-family: 'Quicksand', sans-serif;

}
.icon-style-si{
	position: absolute;
	font-size:0.7em;
	top:12%;
	color:aqua;
}
.label-sign{
	font-size: 0.8em;
}
::placeholder{
	font-size:0.8em;
	font-family: 'Quicksand', sans-serif;
	font-weight: 400;
	color:#333;
}
.type-2{
	background: #b68bf7
}